<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h1>This is my first HTML</h1>
    <a href="http://220.133.121.131:8000/hello/">hello</a>
    <br><br>
    <a href="http://220.133.121.131:8000/app2/adduser">DatabaseDemo ->add user</a>
    <br><br>
    <a href="http://220.133.121.131:8000/app2/getuser">get user</a>
    <br><br>
    <a href="http://220.133.121.131:8000/app2/updateuser">update</a>
    <br><br>
    <a href="http://220.133.121.131:8000/app2/deluser">clear database</a>
    <br><br>
    <a href="https://github.com/yy1110/Mydjango">githib for this project</a>
</body>
</html>